// Place all the styles related to the Launcher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  width: 320px;
  height: 320px;
  border: 5px solid black;
}

.row {
  width: 320px;
  height: 16px;
  float: left;
}

.tile {
  width: 16px;
  height: 16px;
  background: blue;
  display: inline-block;
}

.grass {
  background: image-url('tile_grass.png');
}

.stone {
  background: image-url('tile_rock.png');
}

.water1 {
  background: image-url('water1.png');
}

.water2 {
  background: image-url('water2.png');
}

.water3 {
  background: image-url('water3.png');
}

.water4 {
  background: image-url('water4.png');
}

.water5 {
  background: image-url('water5.png');
}

.water6 {
  background: image-url('water6.png');
}

.water7 {
  background: image-url('water7.png');
}

.water8 {
  background: image-url('water8.png');
}