// Place all the styles related to the Launcher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  width: 320px;
  height: 320px;
  border: 5px solid black;
}

.row {
  width: 320px;
  height: 16px;
  float: left;
}

.tile {
  width: 16px;
  height: 16px;
  background: blue;
  display: inline-block;
}

.grass {
  background: image-url('tile_grass.png');
}

.stone {
  background: image-url('tile_rock.png');
}

.water {
  background: image-url('water1.png');
}
